body {
  background-image: linear-gradient( rgba(0, 0, 0, .70), rgba(0, 0, 0, 0.5) ),url("../images/bitcoin-1813503_1920.jpg");
  /* background-color: black; */
  margin-top: 20px;
  position: relative;
  font-family: 'Prompt', sans-serif;
}

.navbar {
  padding-bottom: .1rem;
}

.btn-custom {
  background-color: #f7931b;
}

.jumbotron-fluid {
  background-image: url("../images/bitcoinbanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
}

.lead {
    background-color: rgb(39, 38, 38);
    color: white;
    width: 450px;
    margin-left: 310px;
}

h1,
p {
  color: white;
  
}

h1 { 
  color: white;
  font-weight: bold;
}

#box1 {
  background-color: rgb(19, 17, 17);
  color: white;
  height: 360px;
  width: 540px;
  border: 1px solid gray;
}

th {
  font-size: 13px;
  background-color: #000000;
}

#overflow {
  width: 534px;
  height: 265px;
  overflow: scroll;
  padding: 3px;
}

#box2 {
  background-color: rgb(19, 17, 17);
  color: white;
  height: 360px;
  width: 540px;
  border: 1px solid gray;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: gray;
}

.card-title {
  text-align: center;
  color: rgb(200, 200, 206);
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#button-addon1 {
  margin-bottom: 10px;
  color: white;
}

#clock {
    background-color: rgb(39, 38, 38);
  color: white;
  width: 470px;
 float: right;
 margin-top: 10px;
 
}

a {
    color: white;
}

.footer {
  text-align: center;
  border-top: 4px solid #f7931b;
}
