

body {
    background-image : url("../images/bitcoin-1813503_1920.jpg")
}

.jumbotron-fluid {
    background-image : url("../images/1_v_aIMijXD5Ow6JG5uOBRnQ.jpeg")
   
}

h1, p {
    color: darkgoldenrod;
}

#box1 {
    background-color: black;
    color: white;
}

#box2 {
    background-color: black;
    color: white;
}
